<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSL.Cars.Parse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KSL.Parse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KSL.Cars.Parse.Properties.Settings>
            <setting name="LAST_PAGE_NODE" serializeAs="String">
                <value>//div[@class="solidNavBar"]/a</value>
            </setting>
            <setting name="LISTING_SEARCH_RESULTS" serializeAs="String">
                <value>//div[@class="srp-listing-body-right"]</value>
            </setting>
            <setting name="LISTING_RESULT_PRICE" serializeAs="String">
                <value>div[@class="srp-listing-price"]</value>
            </setting>
            <setting name="LISTING_RESULT_LINK" serializeAs="String">
                <value>div[@class="srp-listing-title"]/a</value>
            </setting>
            <setting name="LISTING_RESULT_ID" serializeAs="String">
                <value>div[@class="srp-listing-title"]/a</value>
            </setting>
            <setting name="LISTING_VIN" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='VIN:']</value>
            </setting>
            <setting name="LISTING_MILEAGE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Mileage:']</value>
            </setting>
            <setting name="LISTING_EXT_COLOR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Exterior Color:']</value>
            </setting>
            <setting name="LISTING_INT_COLOR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Interior Color:']</value>
            </setting>
            <setting name="LISTING_YEAR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Year:']</value>
            </setting>
            <setting name="LISTING_MAKE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Make:']</value>
            </setting>
            <setting name="LISTING_MODEL" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Model:']</value>
            </setting>
            <setting name="LISTING_TRIM" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Trim:']</value>
            </setting>
            <setting name="LISTING_BODY" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Body:']</value>
            </setting>
            <setting name="LISTING_TITLE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Title:']</value>
            </setting>
            <setting name="LISTING_TRANSMISSION" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Transmission:']</value>
            </setting>
            <setting name="LISTING_LITERS" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Liters:']</value>
            </setting>
            <setting name="LISTING_CYLINDERS" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Cylinders:']</value>
            </setting>
            <setting name="LISTING_CITY" serializeAs="String">
                <value>//h2[@class="location"]</value>
            </setting>
            <setting name="LISTING_DESCRIPTION" serializeAs="String">
                <value>//div[@id="description"]</value>
            </setting>
            <setting name="CONTACT_NAME" serializeAs="String">
                <value>//div[contains(@class,'contactName')]</value>
            </setting>
            <setting name="CONTACT_PHONE" serializeAs="String">
                <value>//a[contains(@href,'tel: ')]</value>
            </setting>
            <setting name="LISTING_LINK" serializeAs="String">
                <value>http://www.ksl.com/auto/listing/{LISTING_ID}</value>
            </setting>
        </KSL.Cars.Parse.Properties.Settings>
        <KSL.Parse.Properties.Settings>
            <setting name="LAST_PAGE_NODE" serializeAs="String">
                <value>//div[@class="solidNavBar"]/a</value>
            </setting>
            <setting name="LISTING_SEARCH_RESULTS" serializeAs="String">
                <value>//div[@class="srp-listing-body-right"]</value>
            </setting>
            <setting name="LISTING_RESULT_PRICE" serializeAs="String">
                <value>div[@class="srp-listing-price"]</value>
            </setting>
            <setting name="LISTING_RESULT_LINK" serializeAs="String">
                <value>div[@class="srp-listing-title"]/a</value>
            </setting>
            <setting name="LISTING_RESULT_ID" serializeAs="String">
                <value>div[@class="srp-listing-title"]/a</value>
            </setting>
            <setting name="LISTING_VIN" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='VIN:']</value>
            </setting>
            <setting name="LISTING_MILEAGE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Mileage:']</value>
            </setting>
            <setting name="LISTING_EXT_COLOR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Exterior Color:']</value>
            </setting>
            <setting name="LISTING_INT_COLOR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Interior Color:']</value>
            </setting>
            <setting name="LISTING_YEAR" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Year:']</value>
            </setting>
            <setting name="LISTING_MAKE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Make:']</value>
            </setting>
            <setting name="LISTING_MODEL" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Model:']</value>
            </setting>
            <setting name="LISTING_TRIM" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Trim:']</value>
            </setting>
            <setting name="LISTING_BODY" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Body:']</value>
            </setting>
            <setting name="LISTING_TITLE" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Title:']</value>
            </setting>
            <setting name="LISTING_TRANSMISSION" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Transmission:']</value>
            </setting>
            <setting name="LISTING_LITERS" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Liters:']</value>
            </setting>
            <setting name="LISTING_CYLINDERS" serializeAs="String">
                <value>//table[@id="specificationsTable"]/tr/td[text()='Cylinders:']</value>
            </setting>
            <setting name="LISTING_CITY" serializeAs="String">
                <value>//h2[@class="location"]</value>
            </setting>
            <setting name="LISTING_DESCRIPTION" serializeAs="String">
                <value>//div[@id="description"]</value>
            </setting>
            <setting name="CONTACT_NAME" serializeAs="String">
                <value>//div[contains(@class,'contactName')]</value>
            </setting>
            <setting name="CONTACT_PHONE" serializeAs="String">
                <value>//a[contains(@href,'tel: ')]</value>
            </setting>
        </KSL.Parse.Properties.Settings>
    </applicationSettings>
</configuration>