<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSL.Cars.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSL.Cars.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <KSL.Cars.App.Properties.Settings>
            <setting name="priceLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="priceHigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="milesLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="milesHigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yearLow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yearHigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zipCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value />
            </setting>
            <setting name="LISTING_LINK" serializeAs="String">
                <value>http://www.ksl.com/auto/listing/{LISTING_ID}</value>
            </setting>
        </KSL.Cars.App.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <KSL.Cars.App.Properties.Settings>
            <setting name="VIN_LINK" serializeAs="String">
                <value>http://vsvin.info/vin/{VIN}.html</value>
            </setting>
        </KSL.Cars.App.Properties.Settings>
    </applicationSettings>
</configuration>